body {
  margin: 8px auto;
  max-width: 650px;
  line-height: 1.5;
  font-size: 18px;
  color: #ddd;
  background-color: #222;
  padding: 0 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1 {
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

h2,
h3 {
  line-height: 1;
  font-weight: 500;
}

footer {
  text-align: center;
}

/* Link Colors */
a {
  color: #00e684;
  text-decoration: none;
}
a:visited {
  color: #d41b59;
}

a:hover {
  color: #00b8e6;
  text-decoration: underline;
}
